__pycache__/
.vscode/
data/atis/
data/Few-NERD/
data/Few-NERD-supervised/
data/MITMovie-eng/
data/MITMovie-trivia/
data/mr/
data/mr-splited/
data/our_snips/
results/*/
415.out
old_trainer.py
train_copy.sh
testdemo.py
logs/
files/
*.png